[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pytest = "*"
uvicorn = {extras = ["standard"], version = "*"}
urllib3 = "~=1.26.7"
certifi = ">=14.5.14"
frozendict = "~=2.3.4"
python-dateutil = "~=2.7.0"
setuptools = "*"
typing-extensions = "~=4.3.0"

[dev-packages]

[requires]
python_version = "3.11"
