[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
setuptools = "*"
coffee-freaks-api-client = {editable = true, path = "./coffee-freaks-api-client"}
httpx = "*"
geonamescache = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
